@import "variables.scss";

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 100px;
  & * {
    font-size: 18px;
    font-weight: 400;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header-title {
  font-size: 36px;
}

h1 {
  color: $theme-darkRed;
}

h2 {
  font-size: 36px;
}

.logo {
  height: 50px;
}

.photographer_section {
  background-color: yellow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
